* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/background.png);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-left: -15px;
}

.row:after, .menu:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-1 {
    width: 8.3333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

.header {
    background-color: rgba(207, 203, 203, 0.75);
    padding: 25px 0;
}

.logo-img>img {
    width: 100%;
    height: 50px;
}

.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #333232;
}

.menu > li:last-child {
    border-right: 1px solid #333232;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: rgb(31, 30, 30) ;
    text-align: center;
    line-height: 50px;
}

.menu > li > a:hover {
    color: white;
    background-color: #333232;
}