* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/background.png);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after, .menu::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-1 {
    width: 8.33333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

.col-md-9 {
    width: 75%;
}

.header {
    background-color: rgb(136, 131, 131, 75%);
    padding: 25px 0;
}

.menu > li{
    float: left;
    width: 25%;
    border-left: 2px solid rgba(20, 20, 20, 0.65);
}

.menu > li:last-child {
    border-right: 2px solid rgba(20, 20, 20, 0.65);
}


.menu > li > a {
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    line-height: 50px;

}

.menu > li > a:hover {
    background-color: rgba(20, 20, 20, 0.65);
    color: white;
}

.logo > a > img {
    width: 100%;
    height: 50px;
}

.search {
    border: 1px soalid rgba(20, 20, 20, 0.65);
    padding: 5px;
}

.input-search-text {
    width: 75%;
    /* border: none;
    background: transparent; */
    font-size: 21px;    
    height: 40px;
    line-height: 40px;
}

.input-search-text:focus {
    border: none;
}

.input-search-button {
    width: 40px;
    height: 100%;
}

.cart {
    position: relative;
    background-color: white;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.products-count {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(202, 20, 20);
    border-radius: 50%;
    top: -10px;
    left: -10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}